.stopwatch1 {
  margin-top: 200px;
  border: 2px solid #179dac;
  text-align: center;
  margin-left: 40%;
  background-color: #b7eaf0;
  border-radius: 10px;
}

body {
  background-color: rgb(147, 195, 179);
}
button {
  margin: 2px;
  border-radius: 6px;
  border: none;
}
.stopwatch1 {
  height: 120px;
  width: 230px;
}
.start{
  background-color: green;
  color: white;
}
.stop{
  background-color: red;
  color: white;
}
.reset{
  background-color: rgb(212, 212, 16);
  color: white;
}

